# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
r: bioc-devel

env:
 global:
   - _R_CHECK_FORCE_SUGGESTS_: false

 addons:
   apt:
     update: true
     sources:
       - sourceline: 'ppa:opencpu/imagemagick'
     packages:
       - libmagick++-dev

install:
    - R -e 'install.packages(c("devtools", "knitr"))'
    - R -e 'devtools::install_deps(dep = c("Depends", "Imports"))'

after_success:
  - Rscript -e 'covr::codecov()'

notifications:
  email:
    on_success: change
    on_failure: change
